
<style>
.juanpa{
         max-width: 100%;
         height:20%;}
 .div34 {
background-color: black;
height: 70PX; }
.logo {
position: absolute;
left: 1%;
width: 70%;
height: 70%;}

}
.cuadro21 {
position: relative;
top: 4%;
left: 15%;
width: 70%;
height: 60%;
background: black;
border-radius : 12px;
}
.letra1 {
position: absolute;
top: 20%;
left: 50%;
font-family: century gothic;
background-color: black; 
}
.boton1{
  top: 20px;
  position: relative;
  left: 10%;
  height: 40px;
  width: 110px;
  border-radius: 35%;
  text-decoration: solid;
  text-emphasis-style: double-circle;
  padding: 7px;
  font-weight: 600px;
  font-size: 20px;
  color: #323132;
  background-color: #A2D9CE;
  border-radius: 5px;
  border: 3px solid #A2D9CE;
  position: absolute;
  left: 52%;}

  .boton2{
  top: 20px;
  position: relative;
  left: 200px;
  height: 40px;
  width: 180px;
  border-radius: 35%;
  text-decoration: solid;
  text-emphasis-style: double-circle;
  padding: 7px;
  font-weight: 600px;
  font-size: 20px;
  color: #323132;
  background-color: #A2D9CE;
  border-radius: 5px;
  border: 3px solid #A2D9CE;
  position: absolute;
  left: 72%;
}
.boton3{
	top: 30px;
	position: relative;
	left: 60%;
	height: 50px;
	width: 230px;
	background: #A2D9CE;
	border: 5px solid black;
	border-radius: 5%;}

.boton4{
	top: 90px;
	position: relative;
	left: 90px;
	height: 150px;
	width: 270px;
	background: #F5D3E5;
	border: 5px solid black;
	border-radius: 10%;}

.boton5{
	top: 90px;
	position: relative;
	left: 130px;
	height: 150px;
	width: 270px;
	background: #F5D3E5;
	border: 5px solid black;
	border-radius: 10%;}

.boton6{
	top: 90px;
	position: relative;
	left: 170px;
	height: 150px;
	width: 270px;
	background: #F5D3E5;
	border: 5px solid black;
	border-radius: 10%;}

.img1{
	position: relative;
	top: 140px;
	left: 500px;
}

.botonp1{
  top: 40px;
  position: relative;
  left: 220px;
  height: 40px;
  width: 180px;
  border-radius: 35%;
  text-decoration: solid;
  text-emphasis-style: double-circle;
  padding: 7px;
  font-weight: 600px;
  font-size: 20px;
  color: #323132;
  background-color: white;
  border-radius: 5px;
  border: 3px solid #A2D9CE;
  }

.botonp2{
  top: 40px;
  position: relative;
  left: 260px;
  height: 40px;
  width: 180px;
  border-radius: 35%;
  text-decoration: solid;
  text-emphasis-style: double-circle;
  padding: 7px;
  font-weight: 600px;
  font-size: 20px;
  color: #323132;
  background-color: white;
  border-radius: 5px;
  border: 3px solid #A2D9CE;
  }

.botonp3{
  top: 40px;
  position: relative;
  left: 300px;
  height: 40px;
  width: 180px;
  border-radius: 35%;
  text-decoration: solid;
  text-emphasis-style: double-circle;
  padding: 7px;
  font-weight: 600px;
  font-size: 20px;
  color: #323132;
  background-color: white;
  border-radius: 5px;
  border: 3px solid #A2D9CE;
  }

 .botonp4{
  top: 40px;
  position: relative;
  left: 340px;
  height: 40px;
  width: 180px;
  border-radius: 35%;
  text-decoration: solid;
  text-emphasis-style: double-circle;
  padding: 7px;
  font-weight: 600px;
  font-size: 20px;
  color: #323132;
  background-color: white;
  border-radius: 5px;
  border: 3px solid #A2D9CE;
  }

  .cuadrop1 {
position: relative;
top: 10%;
left: 15%;
width: 70%;
height: 60%;
background: white;
border-radius : 12px;
border: 3px solid gray;
background-image: url(fondoc1.jpg);

}

.letrap {
position: absolute;
top: 3%;
left: 35%;
background-color: gray;
font-family: century gothic; 
}

.letraparrafo1{
position: absolute;
top: 20%;
left: 5%;
background-color: gray;
font-family: century gothic; 
}

.letraparrafo2{
position: absolute;
top: 28%;
left: 5%;
font-family: century gothic; 
font-size: 110%;
}

.img2{
	position: relative;
	top: 90px;
	left: 450px;
}

.img3{
	position: relative;
	top: 60px;
	left: 600px;
}
.img9{
	position: relative;
	top: 140px;
	left: 140px;
}
html{
	scroll-behavior: smooth;
}
body
{
	background-image: url(fondo.jpg);
	background-size: 100%, 100%;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
	font-family: century gothic;
}

a{
	 text-decoration:none;
	 color: black;
}

p
{
	text-align: justify;	
}
.header
{
	font-size: 45px;
	padding-left: 180px;
	width: 700px:; height: 160px;
	background-color: rgb(117, 192, 117, 1);
	transition: 0.5s;
}

.header:hover
{
	transition: 0.5s;
	background-color: rgb(152, 227, 152, 0.9);
}

.logo
{
	margin-left: 80px;
	margin-top: -60px;
	width: 80px;
	height: 75px;
	background-size: 80px, 80px;
	background-image: url(logo2.png);
}

.anclas
{
	position: fixed;
}

.inicio
{
	transition: 0.3s;
	width: 75px;
	height: 32px;
	padding-left: 30px;
	padding-top: 10px;
	background-color: rgb(152, 227, 152, 0.8);
	font-size: medium;
}

.inicio:hover
{
	transition: 0.3s;
	width: 90px;
	height: 32px;
	padding-left: 30px;
	padding-top: 10px;
	background-color: rgb(117, 192, 117, 1);
	font-size: large;
}

.excel
{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	width: 600px;
	height: 650px;
	background-color: rgb(117, 192, 117, .5);
	border-radius: 8px;

}

.sumar
{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	width: 600px;
	height: 350px;
	background-color: rgb(117, 192, 117, .5);
	border-radius: 8px;
}

.imgsuma
{
	background-image: url(sum.jpg);
	width: 285px;
	height: 199px;
	background-size: fill;
}

.promedio
{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	width: 600px;
	height: 350px;
	background-color: rgb(117, 192, 117, .5);
	border-radius: 8px;
}

.imgprom
{
	background-image: url(prom.png);
	width: 493px;
	height: 166px;
	background-size: fill;
}

.indice
{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	width: 600px;
	height: 300px;
	background-color: rgb(117, 192, 117, .5);
	border-radius: 8px;
}

.imgindice
{
	background-image: url(ind.png);
	width: 501px;
	height: 105px;
	background-size: fill;
}

.contar
{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	width: 600px;
	height: 400px;
	background-color: rgb(117, 192, 117, .5);
	border-radius: 8px;
}

.imgcont
{
	background-image: url(cont.png);
	width: 301px;
	height: 254px;
	background-size: fill;
}

.buscarv
{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	width: 600px;
	height: 400px;
	background-color: rgb(117, 192, 117, .5);
	border-radius: 8px;
}

.imgbuscarv
{
	background-image: url(buscv.png);
	width: 445px;
	height: 224px;
	background-size: fill;
}
.boton11
{
	border-radius: 35%;
  text-decoration: solid;
  text-emphasis-style: double-circle;
  padding: 7px;
  font-weight: 600px;
  font-size: 20px;
  color: #323132;
  background-color: #A2D9CE;
  border-radius: 5px;
  border: 3px solid #A2D9CE;
  position: relative;
  top: 33%;
  left: 130px;
}
.text1{
	font-family: century gothic;
	background-color: white;
	position: relative;
	right: -10px;
	top: 2px;}

	.text2{
	font-family: century gothic;
	background-color: white;
	position: relative;
	right: 110px;
	top: 40px;
}
.tit{
         max-width: 100%;
         height:20%;}

 .div39 {
background-color: gray;
height: 70PX; }
.calcu{
	top: 40px;
  position: relative;
  left: 10px;
  height: 40px;
  width: 180px;
  border-radius: 35%;
  text-decoration: solid;
  text-emphasis-style: double-circle;
  padding: 7px;
  font-weight: 600px;
  font-size: 20px;
  color: #323132;
  background-color: white;
  border-radius: 5px;
  border: 3px solid #A2D9CE;

}
.boton24{
	border-radius: 35%;
  text-decoration: solid;
  text-emphasis-style: double-circle;
  padding: 7px;
  font-weight: 600px;
  font-size: 20px;
  color: #323132;
  background-color: #A2D9CE;
  border-radius: 5px;
  border: 3px solid #A2D9CE;
  position: relative;
}
.javacal{
	top: 30px;
	position: relative;
	left: 60%;
	height: 50px;
	width: 230px;
	background: #A2D9CE;
	border: 5px solid black;
	border-radius: 5%;}


}